<div class="header">
  <div class="container">
    <!-- Header top area content -->
    <div class="header-top">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <!-- Header top left content contact -->
          <div class="header-contact">
            <!-- Contact number -->
            <p class="text-center"><span><i class="fa fa-phone red"></i>{{dataService.CompanyInfo.PhoneNo}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-5">
        <!-- Link -->
        <a routerLink="/">
          <!-- Logo area -->
          <div class="logo">
            <img class="img-responsive" src="../../assets/img/logo.png" alt="" />
            <!-- Heading -->
            <h1>{{dataService.CompanyInfo.WebsiteTitle}}</h1>
            <!-- Paragraph -->
            <p>{{dataService.CompanyInfo.WebsiteTitleSlogan}}</p>
          </div>
        </a>
      </div>
      <div class="col-md-8 col-sm-7">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-right" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a routerLink="/"><img src="../../assets/img/nav-menu/nav1.jpg" class="img-responsive" alt="" /> Home</a></li>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../../assets/img/nav-menu/nav5.jpg" class="img-responsive" alt="" /> Menu <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let menuItem of Menu"><a routerLink="/menu" [fragment]="menuItem.CategoryId">{{menuItem.Category}}</a></li>
                    <!--<li><a routerLink="/menu">Blank Page</a></li>-->
                    <!--<li><a routerLink="/menu">Blog</a></li>-->
                    <!--<li><a routerLink="/menu">Blog Single</a></li>-->
                    <!--<li><a routerLink="/menu">Components</a></li>-->
                    <!--<li><a routerLink="/menu"></a></li>-->
                    <!--<li><a routerLink="/menu">Nutrition Info</a></li>-->
                    <!--<li><a routerLink="/menu">Recipes</a></li>-->
                  </ul>
                </li>
                <li><a routerLink="/about"><img src="../../assets/img/nav-menu/nav6.jpg" class="img-responsive" alt="" />About Us</a></li>
                <li><a routerLink="/gallery"><img src="../../assets/img/nav-menu/nav6.jpg" class="img-responsive" alt="" />Gallery</a></li>
                <li><a routerLink="/contactus"><img src="../../assets/img/nav-menu/nav6.jpg" class="img-responsive" alt="" /> Contact Us</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div> <!-- / .container -->
</div>
