<!-- Footer Start -->

<div class="footer padd">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <!-- Footer widget -->
        <div class="footer-widget">
          <!-- Logo area -->
          <div class="logo">
            <img class="img-responsive" src="../../assets/img/logo.png" alt="" />
            <!-- Heading -->
            <h1>{{dataService.CompanyInfo.WebsiteTitle}}</h1>
          </div>
          <!-- Paragraph -->
          <p>{{dataService.CompanyInfo.WebsiteTitleLongDescription}}</p>
          <hr />
          <!-- Heading -->
          <h6>On-line Payment Clients</h6>
          <!-- Images -->
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/2co.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/authorizenet.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/discover.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/egold.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/mastercard.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/paypal.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/visa.gif" alt="" /></a>
          <a href="#"><img class="payment img-responsive" src="../../assets/img/payment/worldpay.gif" alt="" /></a>
        </div> <!--/ Footer widget end -->
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Footer widget -->
        <div class="footer-widget">
          <!-- Heading -->
          <h4>Famous Dishes</h4>
          <!-- Images -->
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <a href="#"><img class="dish img-responsive" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
        </div> <!--/ Footer widget end -->
      </div>
      <div class="clearfix visible-sm"></div>
      <!--<div class="col-md-3 col-sm-6">-->
        <!--&lt;!&ndash;&lt;!&ndash; Footer widget &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="footer-widget">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; Heading &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<h4>Join Us Today</h4>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; Paragraph &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; Subscribe form &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<input class="form-control" type="text" placeholder="Your name" />&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<input class="form-control" type="email" placeholder="Your email" />&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-danger" type="button">Subscribe</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash; Map holder &ndash;&gt;-->

        <!--&lt;!&ndash;</div> &lt;!&ndash;/ Footer widget end &ndash;&gt;&ndash;&gt;-->
      <!--</div>-->
      <div class="col-md-4 col-sm-6">
        <!-- Footer widget -->
        <div class="footer-widget">
          <!-- Heading -->
          <h4>Contact Us</h4>
          <div class="contact-details">
            <!-- Address / Icon -->
            <i class="fa fa-map-marker br-red"></i> <span>{{dataService.CompanyInfo.AddressLine1}}<br />{{dataService.CompanyInfo.Suburb}}, {{dataService.CompanyInfo.State}} - {{dataService.CompanyInfo.PostCode}}</span>
            <div class="clearfix"></div>
            <!-- Contact Number / Icon -->
            <i class="fa fa-phone br-green"></i> <span>{{dataService.CompanyInfo.PhoneNo}}</span>
            <div class="clearfix"></div>
            <!-- Email / Icon -->
            <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">{{dataService.CompanyInfo.Email}}</a></span>
            <div class="clearfix"></div>
          </div>
          <!-- Social media icon -->
          <div class="social">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
        </div> <!--/ Footer widget end -->
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
      <!-- Paragraph -->
      <p>&copy; Copyright {{dataService.CompanyInfo.CopyrightYear}} {{dataService.CompanyInfo.CompanyName}}</p>
    </div>
  </div>
</div>

<!-- Footer End -->
