<!-- Showcase Start -->

<div class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Showcase section item -->
        <div class="showcase-item">
          <!-- Image -->
          <img class="img-responsive" src="../../assets/img/fruit2.png" alt="" />
          <!-- Heading -->
          <h3><a href="#">Equine Porno Sumos</a></h3>
          <!-- Paragraph -->
          <p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <!-- Showcase section item -->
        <div class="showcase-item">
          <!-- Image -->
          <img class="img-responsive" src="../../assets/img/fruit3.png" alt="" />
          <!-- Heading -->
          <h3><a href="#">Equine Porno Sumos</a></h3>
          <!-- Paragraph -->
          <p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Showcase End -->
