<app-page-banner [BannerText]="'Menu'" [BannerBackground]="'../../assets/../../assets/img/banner.jpg'"></app-page-banner>

<!-- Inner Content -->
<div class="inner-page padd">

  <!-- Inner page menu start -->
  <div class="inner-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12" *ngFor="let menuCategory of Menu">
          <!-- Inner page menu list -->
          <div class="menu-list">
            <!-- Menu item heading -->
            <h3 class="text-center" id="{{menuCategory.CategoryId}}">{{menuCategory.Category}}</h3>
            <!-- Image for menu list -->
            <!--<img class="img-responsive" src="../../assets/img/menu/menu1.jpg" alt="" />-->
            <!-- Menu list items -->
            <div class="menu-list-item" *ngFor="let menuItem of menuCategory.Items">
              <!-- Heading / Dish name -->

              <div class="clearfix"></div>

              <dl>
                <dt>
                  <h4 class="pull-left">{{menuItem.ItemName}}</h4>
                  <span class="price pull-right">{{menuItem.ItemPrice}}</span>
                </dt>
                <dd>
                  <br/><br/>
                  <p class="text-justify"><em>{{menuItem.ItemDescription}}</em></p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
<!--        <div class="col-md-12">
          &lt;!&ndash; Inner page menu list &ndash;&gt;
          <div class="menu-list">
            &lt;!&ndash; Menu item heading &ndash;&gt;
            <h3>Chicken</h3>
            &lt;!&ndash; Image for menu list &ndash;&gt;
            <img class="img-responsive" src="../../assets/img/menu/menu2.jpg" alt="" />
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Chicken Curie</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$35</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Bone less</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$45</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$20</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$25</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item border-zero">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Creed do Modernism</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$22</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          &lt;!&ndash; Inner page menu list &ndash;&gt;
          <div class="menu-list">
            &lt;!&ndash; Menu item heading &ndash;&gt;
            <h3>Dessert</h3>
            &lt;!&ndash; Image for menu list &ndash;&gt;
            <img class="img-responsive" src="../../assets/img/menu/menu3.jpg" alt="" />
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Chicken Curie</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$5</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Bone less</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$4</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$5</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item border-zero">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Creed do Modernism</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          &lt;!&ndash; Inner page menu list &ndash;&gt;
          <div class="menu-list">
            &lt;!&ndash; Menu item heading &ndash;&gt;
            <h3>Drinks</h3>
            &lt;!&ndash; Image for menu list &ndash;&gt;
            <img class="img-responsive" src="../../assets/img/menu/menu4.jpg" alt="" />
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Drinks</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Milk Shake</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$1</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$5</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item border-zero">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Creed do Modernism</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          &lt;!&ndash; Inner page menu list &ndash;&gt;
          <div class="menu-list">
            &lt;!&ndash; Menu item heading &ndash;&gt;
            <h3>Pizza</h3>
            &lt;!&ndash; Image for menu list &ndash;&gt;
            <img class="img-responsive" src="../../assets/img/menu/menu5.jpg" alt="" />
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Drinks</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Milk Shake</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$1</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$5</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item border-zero">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Creed do Modernism</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          &lt;!&ndash; Inner page menu list &ndash;&gt;
          <div class="menu-list">
            &lt;!&ndash; Menu item heading &ndash;&gt;
            <h3>Burger</h3>
            &lt;!&ndash; Image for menu list &ndash;&gt;
            <img class="img-responsive" src="../../assets/img/menu/menu6.jpg" alt="" />
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Drinks</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Cold Milk Shake</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$1</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Consecrate Anglicising</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$5</span>
              <div class="clearfix"></div>
            </div>
            &lt;!&ndash; Menu list items &ndash;&gt;
            <div class="menu-list-item border-zero">
              &lt;!&ndash; Heading / Dish name &ndash;&gt;
              <h4 class="pull-left">Creed do Modernism</h4>
              &lt;!&ndash; Dish price &ndash;&gt;
              <span class="price pull-right">$2</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>

  <!-- Inner page menu end -->


</div><!-- / Inner Page Content End -->
