<!-- Chefs Start -->

<div class="chefs padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="../../assets/img/crown.png" alt="" />
      <!-- Heading -->
      <h2>Our Chefs</h2>
      <!-- Paragraph -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!-- Chef Member -->
        <div class="chefs-member">
          <!-- Chefs member header -->
          <div class="chefs-head">
            <!-- Member background image -->
            <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back2.jpg" alt="" />
            <!-- chef member image -->
            <img class="chefs-img img-responsive" src="../../assets/img/chef/4.jpg" alt="" />
          </div>
          <!--Name / Heading -->
          <h3><a href="#">Venison Gorky</a></h3>
          <!-- Member designation -->
          <span>Chefs Incharge</span>
          <!-- Social media links -->
          <div class="social">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <!-- Chef Member -->
        <div class="chefs-member">
          <!-- Chefs member header -->
          <div class="chefs-head">
            <!-- Member background image -->
            <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back1.jpg" alt="" />
            <!-- chef member image -->
            <img class="chefs-img img-responsive" src="../../assets/img/chef/7.jpg" alt="" />
          </div>
          <!--Name / Heading -->
          <h3><a href="#">Million Carey</a></h3>
          <!-- Member designation -->
          <span>Chefs Incharge</span>
          <!-- Social media links -->
          <div class="social">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <!-- Chef Member -->
        <div class="chefs-member">
          <!-- Chefs member header -->
          <div class="chefs-head">
            <!-- Member background image -->
            <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back3.jpg" alt="" />
            <!-- chef member image -->
            <img class="chefs-img img-responsive" src="../../assets/img/chef/2.jpg" alt="" />
          </div>
          <!--Name / Heading -->
          <h3><a href="#">Juliet Watson</a></h3>
          <!-- Member designation -->
          <span>Chefs Incharge</span>
          <!-- Social media links -->
          <div class="social">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chefs End -->
