<app-page-banner [BannerText]="'About Us'" [BannerBackground]="'../../assets/../../assets/img/banner.jpg'"></app-page-banner>
<!-- Inner Content -->
<div class="inner-page padd">

  <!-- About company -->
  <div class="about-company padd">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- About Compnay Item -->
          <div class="about-company-item">
            <!-- About Company Image -->
            <img class="img-responsive img-thumbnail" src="../../assets/img/chef/about-1.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <!-- About Compnay Item -->
          <div class="about-company-item">
            <!-- Heading -->
            <h3>About Our <span class="lblue">Restaurant</span></h3>
            <!-- Paragraph -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alio consequat.</p>
            <br /><!--/ Line break -->
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- About company inner items -->
                <div class="about-company-inner">
                  <!-- Paragraph with icon -->
                  <span class="company-feature"><i class="fa fa-building-o br-red"></i> <b class="red">10</b> Locations</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- About company inner items -->
                <div class="about-company-inner">
                  <!-- Paragraph with icon -->
                  <span class="company-feature"><i class="fa fa-trophy br-lblue"></i> <b class="lblue">10</b> Awards</span>
                </div>
              </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- About company inner items -->
                <div class="about-company-inner">
                  <!-- Paragraph with icon -->
                  <span class="company-feature"><i class="fa fa-users br-green"></i> <b class="green">15</b> Chefs</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- About company inner items -->
                <div class="about-company-inner">
                  <!-- Paragraph with icon -->
                  <span class="company-feature"><i class="fa fa-shopping-cart br-purple"></i> <b class="purple">50</b> Dishes.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chefs Start -->

  <div class="chefs padd">
    <div class="container">
      <!-- Default Heading -->
      <div class="default-heading">
        <!-- Crown image -->
        <img class="img-responsive" src="../../assets/img/crown.png" alt="" />
        <!-- Heading -->
        <h2>Our Chefs</h2>
        <!-- Paragraph -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!-- Chef Member -->
          <div class="chefs-member">
            <!-- Chefs member header -->
            <div class="chefs-head">
              <!-- Member background image -->
              <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back2.jpg" alt="" />
              <!-- chef member image -->
              <img class="chefs-img img-responsive" src="../../assets/img/chef/4.jpg" alt="" />
            </div>
            <!--Name / Heading -->
            <h3><a href="#">Venison Gorky</a></h3>
            <!-- Member designation -->
            <span>Chefs Incharge</span>
            <!-- Social media links -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- Chef Member -->
          <div class="chefs-member">
            <!-- Chefs member header -->
            <div class="chefs-head">
              <!-- Member background image -->
              <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back1.jpg" alt="" />
              <!-- chef member image -->
              <img class="chefs-img img-responsive" src="../../assets/img/chef/7.jpg" alt="" />
            </div>
            <!--Name / Heading -->
            <h3><a href="#">Million Carey</a></h3>
            <!-- Member designation -->
            <span>Chefs Incharge</span>
            <!-- Social media links -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- Chef Member -->
          <div class="chefs-member">
            <!-- Chefs member header -->
            <div class="chefs-head">
              <!-- Member background image -->
              <img class="chefs-back img-responsive" src="../../assets/img/chef/c-back3.jpg" alt="" />
              <!-- chef member image -->
              <img class="chefs-img img-responsive" src="../../assets/img/chef/2.jpg" alt="" />
            </div>
            <!--Name / Heading -->
            <h3><a href="#">Juliet Watson</a></h3>
            <!-- Member designation -->
            <span>Chefs Incharge</span>
            <!-- Social media links -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chefs End -->

  <!-- Showcase Start -->

  <div class="showcase">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <!-- Showcase section item -->
          <div class="showcase-item">
            <!-- Image -->
            <img class="img-responsive" src="../../assets/img/fruit2.png" alt="" />
            <!-- Heading -->
            <h3><a href="#">Equine Porno Sumos</a></h3>
            <!-- Paragraph -->
            <p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- Showcase section item -->
          <div class="showcase-item">
            <!-- Image -->
            <img class="img-responsive" src="../../assets/img/fruit3.png" alt="" />
            <!-- Heading -->
            <h3><a href="#">Equine Porno Sumos</a></h3>
            <!-- Paragraph -->
            <p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Showcase End -->

</div><!-- / Inner Page Content End -->
