<!-- Pricing Start -->

<div class="pricing padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="../../assets/img/crown.png" alt="" />
      <!-- Heading -->
      <h2>Offer Price</h2>
      <!-- Paragraph -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Pricing list Item -->
        <div class="pricing-item">
          <!-- Image -->
          <a href="#"><img class="img-responsive img-thumbnail" src="../../assets/img/dish/dish3.jpg" alt="" /></a>
          <!-- Pricing item details -->
          <div class="pricing-item-details">
            <!-- Heading -->
            <h3><a href="#">Mix-Veg Fried Rice</a></h3>
            <!-- Paragraph -->
            <p>These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents...</p>
            <!-- Buy link -->
            <a class="btn btn-danger pull-right" href="#">Order now</a>
            <div class="clearfix"></div>
          </div>
          <!-- Tag -->
          <span class="hot-tag br-red">$45</span>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <!-- Pricing list Item -->
        <div class="pricing-item">
          <!-- Image -->
          <a href="#"><img class="img-responsive img-thumbnail" src="../../assets/img/dish/dish2.jpg" alt="" /></a>
          <!-- Pricing item details -->
          <div class="pricing-item-details">
            <!-- Heading -->
            <h3><a href="#">Spicy Fried Chicken</a></h3>
            <!-- Paragraph -->
            <p>These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents...</p>
            <!-- Buy link -->
            <a class="btn btn-danger pull-right" href="#">Order now</a>
            <div class="clearfix"></div>
          </div>
          <!-- Tag -->
          <span class="hot-tag br-lblue">$19</span>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix visible-md"></div>
      <div class="col-md-6 col-sm-6">
        <!-- Pricing list Item -->
        <div class="pricing-item">
          <!-- Image -->
          <a href="#"><img class="img-responsive img-thumbnail" src="../../assets/img/dish/dish4.jpg" alt="" /></a>
          <!-- Pricing item details -->
          <div class="pricing-item-details">
            <!-- Heading -->
            <h3><a href="#">Chinese Chicken Momo</a></h3>
            <!-- Paragraph -->
            <p>These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents...</p>
            <!-- Buy link -->
            <a class="btn btn-danger pull-right" href="#">Order now</a>
            <div class="clearfix"></div>
          </div>
          <!-- Tag -->
          <span class="hot-tag br-green">$49</span>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <!-- Pricing list Item -->
        <div class="pricing-item">
          <!-- Image -->
          <a href="#"><img class="img-responsive img-thumbnail" src="../../assets/img/dish/dish1.jpg" alt="" /></a>
          <!-- Pricing item details -->
          <div class="pricing-item-details">
            <!-- Heading -->
            <h3><a href="#">Sushi</a></h3>
            <!-- Paragraph -->
            <p>These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents...</p>
            <!-- Buy link -->
            <a class="btn btn-danger pull-right" href="#">Order now</a>
            <div class="clearfix"></div>
          </div>
          <!-- Tag -->
          <span class="hot-tag br-red">$29</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing End -->
