<app-slider></app-slider>
<app-show-case></app-show-case>
<app-new-dishes></app-new-dishes>
<app-chef-specials></app-chef-specials>
<app-offer-price></app-offer-price>
<app-our-staff></app-our-staff>
<app-testimonials></app-testimonials>
