<script src="../../../../../../Downloads/forms-reactive-final/forms-reactive-final/src/app/app.module.ts"></script>
<script src="../../../../../../Downloads/routing-start/routing-start/src/app/app.module.ts"></script>
<script src="../../../../../../AppData/Local/Temp/app.module.ts"></script>
<app-page-banner [BannerText]="'Contact Us'" [BannerBackground]="'../../assets/img/banner.jpg'"></app-page-banner>
<!-- Inner Content -->
<div class="inner-page padd">

  <!-- Contact Us Start -->

  <div class="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Contact Us content -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <!-- Contact content details -->
              <div class="contact-details">
                <!-- Heading -->
                <h4>Location</h4><!-- Address / Icon -->
                <i class="fa fa-map-marker br-red"></i> <span>{{dataService.CompanyInfo.AddressLine1}}<br />{{dataService.CompanyInfo.Suburb}}, {{dataService.CompanyInfo.State}} - {{dataService.CompanyInfo.PostCode}}</span>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- Contact content details -->
              <div class="contact-details">
                <!-- Heading -->
                <h4>On-line Order</h4>
                <!-- Contact Number / Icon -->
                <i class="fa fa-phone br-green"></i> <span>{{dataService.CompanyInfo.PhoneNo}}</span>
                <div class="clearfix"></div>
                <!-- Email / Icon -->
                <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">{{dataService.CompanyInfo.Email}}</a></span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div><!--/ Inner row end -->
          <!-- Contact form -->
          <div class="contact-form">
            <!-- Heading -->
            <h3>Contact Form</h3>


            <!-- Form -->
            <form [formGroup]="contactusForm" (ngSubmit)="onSubmit()">
                      <span
                        *ngIf="!contactusForm.valid && contactusForm.touched" class="help-block"><p class="bg-warning">* Please enter valid data!</p></span>
              <span
                *ngIf="EmailSent"
                class="help-block"><p class="bg-primary">You message has been sent successfully. Our staff will contact you shortly!</p></span>

              <span
                *ngIf="ErrorEmailSent"
                class="help-block"><p class="bg-danger">There has been a problem in sending you message to staff! Please call us on our opening hours.</p></span>

              <span
                *ngIf="WaitingMessage"
                class="help-block"><p class="bg-warning text-center">...Please wait!! Sending your message...</p></span>

              <div class="form-group">
                <!-- Form input -->
                <input
                  class="form-control"
                  type="text"
                  formControlName="Name"
                  placeholder="Name" />
                <span *ngIf="!contactusForm.get('Name').valid && contactusForm.get('Name').touched">
                  <span *ngIf="contactusForm.get('Name').errors['required']" class="help-block"><p  class="text-danger">* Name is required field.</p></span>
                </span>
              </div>
              <div class="form-group">
                <!-- Form input -->
                <input
                  class="form-control"
                  type="email"
                  formControlName="Email"
                  placeholder="Email" />

                <span *ngIf="!contactusForm.get('Email').valid && contactusForm.get('Email').touched">
                  <span *ngIf="contactusForm.get('Email').errors['required']" class="help-block">
                    <p  class="text-danger">* Email is required field.</p>
                  </span>
                  <span *ngIf="contactusForm.get('Email').errors['email']" class="help-block">
                    <p  class="text-danger">* Please type an valid email address.</p>
                  </span>
                </span>
              </div>
              <div class="form-group">
                <!-- Form input -->
                <input
                  class="form-control"
                  type="tel"
                  formControlName="MobileNo"
                  placeholder="Mobile No" />
                <span *ngIf="!contactusForm.get('MobileNo').valid && contactusForm.get('MobileNo').touched">
                  <span *ngIf="contactusForm.get('MobileNo').errors['required']" class="help-block"> <p  class="text-danger">* Mobile No is required field.</p></span>
                </span>
              </div>
              <div class="form-group">
                <!-- Form text area -->
                <textarea
                  class="form-control"
                  rows="3"
                  formControlName="Message"
                  placeholder="Message..."></textarea>
                <span *ngIf="!contactusForm.get('Message').valid && contactusForm.get('Message').touched">
                  <span *ngIf="contactusForm.get('Message').errors['required']" class="help-block"> <p  class="text-danger">* Message is required field.</p></span>
                </span>
              </div>
              <!-- Form button -->
              <button class="btn btn-danger btn-sm" type="submit" [disabled]="!contactusForm.valid">Send</button>&nbsp;
              <button class="btn btn-default btn-sm" type="reset">Reset</button>
            </form>
          </div><!--/ Contact form end -->
        </div>
        <div class="col-md-6">
          <!-- Map holder -->
          <div class="map-container">
            <!-- Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3541.023189600123!2d153.02170761558287!3d-27.437388021899597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9159dc8f030d81%3A0x3651334cf20e648f!2sIspa+kebab!5e0!3m2!1sen!2sau!4v1496667123222"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-show-case></app-show-case>
  <!-- Contact Us End -->
</div>



<!-- / Inner Page Content End -->
