<!-- Banner Start -->

<div class="banner padd" [style.background]="'url('+BannerBackground+')'">
  <div class="container">
    <!-- Image -->
    <img class="img-responsive" src="../../assets/img/crown-white.png" alt="" />
    <!-- Heading -->
    <h2 class="white">{{BannerText}}</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">{{BannerText}}</li>
    </ol>
    <div class="clearfix"></div>
  </div>
</div>

<!-- Banner End -->
