<!-- Testimonial Start -->

<div class="testimonial padd">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- BLock heading -->
        <h3>Recent Dishes</h3>
        <!-- Flex slider Content -->
        <div class="flexslider-recent flexslider">
          <ul class="slides">
            <li>
              <!-- Image for background -->
              <img class="img-responsive" src="../../assets/img/dish/dish9.jpg" alt="" />
              <!-- Slide content -->
              <div class="slider-content">
                <!-- Heading -->
                <h4>Healthy Salad</h4>
                <!-- Paragraph -->
                <p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
              </div>
            </li>
            <li>
              <!-- Image for background -->
              <img class="img-responsive" src="../../assets/img/dish/dish10.jpg" alt="" />
              <!-- Slide content -->
              <div class="slider-content">
                <!-- Heading -->
                <h4>White Vanilla Cake</h4>
                <!-- Paragraph -->
                <p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
              </div>
            </li>
            <li>
              <!-- Image for background -->
              <img class="img-responsive" src="../../assets/img/dish/dish11.jpg" alt="" />
              <!-- Slide content -->
              <div class="slider-content">
                <!-- Heading -->
                <h4>Tasty Fried Fish</h4>
                <!-- Paragraph -->
                <p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <!-- BLock heading -->
        <h3>Our Client Says</h3>
        <!-- Flex slider Content -->
        <div class="flexslider-testimonial flexslider">
          <ul class="slides">
            <li>
              <!-- Testimonial Content -->
              <div class="testimonial-item">
                <!-- Quote -->
                <span class="quote lblue">&#8220;</span>
                <!-- Your comments -->
                <blockquote>
                  <!-- Paragraph -->
                  <p>Sed ut perspiciatis unde omnis iste natus error sitvolu accusative ntium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                </blockquote>
                <!-- Heading with image -->
                <h4><img class="img-responsive img-circle" src="../../assets/img/user.jpg" alt="" /> Jhon Doe<span>, your designation</span></h4>
                <div class="clearfix"></div>
              </div>
            </li>
            <li>
              <!-- Testimonial Content -->
              <div class="testimonial-item">
                <!-- Quote -->
                <span class="quote lblue">&#8220;</span>
                <!-- Your comments -->
                <blockquote>
                  <!-- Paragraph -->
                  <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the dislikes.</p>
                </blockquote>
                <!-- Heading with image -->
                <h4><img class="img-responsive img-circle" src="../../assets/img/user.jpg" alt="" /> Marten<span>, your designation</span></h4>
                <div class="clearfix"></div>
              </div>
            </li>
            <li>
              <!-- Testimonial Content -->
              <div class="testimonial-item">
                <!-- Quote -->
                <span class="quote lblue">&#8220;</span>
                <!-- Your comments -->
                <blockquote>
                  <!-- Paragraph -->
                  <p>At vero eos et accusamus et iusto odio dignis simos ducimus qui bland itiis praes entium volup tatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non laboratory.</p>
                </blockquote>
                <!-- Heading with image -->
                <h4><img class="img-responsive img-circle" src="../../assets/img/user.jpg" alt="" /> Katrina Doe<span>, your designation</span></h4>
                <div class="clearfix"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial End -->
