<!-- menu Start -->

<div class="menu padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="../../assets/img/crown.png" alt="" />
      <!-- Heading -->
      <h2>Chef Specials</h2>
      <!-- Paragraph -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <!-- Menu content container -->
    <div class="menu-container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!-- Menu header -->
          <div class="menu-head">
            <!-- Image for menu item -->
            <img class="menu-img img-responsive img-thumbnail" src="../../assets/img/menu/menu1.jpg" alt="" />
            <!-- Menu title / Heading -->
            <h3>Seafood</h3>
            <!-- Border for above heading -->
            <div class="title-border br-red"></div>
          </div>
          <!-- Menu item details -->
          <div class="menu-details br-red">
            <!-- Menu list -->
            <ul class="list-unstyled">
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Fish</a>
                  <!-- Price badge -->
                  <span class="pull-right">$12</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Consequent</a>
                  <!-- Price badge -->
                  <span class="pull-right">$9</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Praising Pain</a>
                  <!-- Price badge -->
                  <span class="pull-right">$19</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Exception Tint</a>
                  <!-- Price badge -->
                  <span class="pull-right">$6</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Laborious Rhys</a>
                  <!-- Price badge -->
                  <span class="pull-right">$29</span>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div><!-- / Menu details end -->
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- Menu header -->
          <div class="menu-head">
            <!-- Image for menu item -->
            <img class="menu-img img-responsive img-thumbnail" src="../../assets/img/menu/menu2.jpg" alt="" />
            <!-- Menu title / Heading -->
            <h3>Chicken</h3>
            <!-- Border for above heading -->
            <div class="title-border br-green"></div>
          </div>
          <!-- Menu item details -->
          <div class="menu-details br-green">
            <!-- Menu list -->
            <ul class="list-unstyled">
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Fried Chicken</a>
                  <!-- Price badge -->
                  <span class="pull-right">$29</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Chicken Curie</a>
                  <!-- Price badge -->
                  <span class="pull-right">$49</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Praising Pain</a>
                  <!-- Price badge -->
                  <span class="pull-right">$19</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Exception Tint</a>
                  <!-- Price badge -->
                  <span class="pull-right">$6</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Laborious Rhys</a>
                  <!-- Price badge -->
                  <span class="pull-right">$29</span>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div><!-- / Menu details end -->
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- Menu header -->
          <div class="menu-head">
            <!-- Image for menu item -->
            <img class="menu-img img-responsive img-thumbnail" src="../../assets/img/menu/menu3.jpg" alt="" />
            <!-- Menu title / Heading -->
            <h3>Dessert</h3>
            <!-- Border for above heading -->
            <div class="title-border br-lblue"></div>
          </div>
          <!-- Menu item details -->
          <div class="menu-details br-lblue">
            <!-- Menu list -->
            <ul class="list-unstyled">
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Choco Nuts</a>
                  <!-- Price badge -->
                  <span class="pull-right">$2</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Venial Cup</a>
                  <!-- Price badge -->
                  <span class="pull-right">$4</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Praising Pain</a>
                  <!-- Price badge -->
                  <span class="pull-right">$9</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Exception Tint</a>
                  <!-- Price badge -->
                  <span class="pull-right">$6</span>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="menu-list-item">
                  <!-- Icon -->
                  <i class="fa fa-angle-right"></i> <a href="#">Laborious Rhys</a>
                  <!-- Price badge -->
                  <span class="pull-right">$5</span>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div><!-- / Menu details end -->
        </div>
      </div>
    </div> <!-- /Menu container end -->
  </div>
</div>

<!-- Menu End -->
